@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root
{
    /* Colors */

    --card-date: hsl(215, 51%, 70%);
    --card-price: hsl(178, 100%, 50%);

    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --card-line: hsl(215, 32%, 27%);
    --card-bold: hsl(0, 0%, 100%);

    --hover-bg: hsla(178, 100%, 50%, 50%);

    /* Spacing */

    --spacing-1400: 7rem;
    --spacing-1000: 5rem;
    --spacing-900: 4.5rem;
    --spacing-800: 4rem;
    --spacing-700: 3.5rem;
    --spacing-500: 2.5rem;
    --spacing-400: 2rem;
    --spacing-300: 1.5rem;
    --spacing-200: 1rem;
    --spacing-100: .5rem;
    --spacing-50: .25rem;
}

*
{
    margin: 0;
    padding: 0;

    font-family: 'Outfit', sans-serif;
}

body
{
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: var(--main-bg);
}

.card
{
    width: min-content;

    padding: var(--spacing-300) var(--spacing-400) var(--spacing-400);

    border: 0;
    border-radius: 18px;

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: var(--spacing-200);

    background-color: var(--card-bg);
}

.card__content
{
    display: flex;
    flex-direction: column;

    justify-content: center;

    gap: var(--spacing-300);
}

.card__picture
{
    position: relative;

    width: 18rem;
    height: auto;

    aspect-ratio: 1/1;
}

.card__image
{
    width: 100%;
    height: 100%;

    border-radius: 10px;
}

.card--picture--hover
{
    position: relative;
}

.card--picture--hover::before
{
    content: url(./images/icon-view.svg);

    position: absolute;
    top: 0;

    z-index: 1;

    width: 100%;
    height: 100%;

    border: 0;
    border-radius: 10px;

    display: flex;
    
    align-items: center;
    justify-content: center;
    
    opacity: 0%;

    transition: background-color 0.1s, opacity 0.1s;
}

.card--picture--hover:hover 
{
    cursor: pointer;

    &::before
    {
        opacity: 100%;
        background-color: var(--hover-bg);
    }
}

.card__name
{
    color: var(--card-bold);
    
    font-size: 1.4rem;
}

.card__description
{
    color: var(--card-date);

    font-weight: 300;

    font-size: 1.125rem;
}

.card__details
{
    display: flex;
    
    justify-content: space-between;
}

.card__information
{
    display: flex;

    gap:var(--spacing-100);

    font-size: 1rem;

    --before-svg: "";
}

.card__information::before
{
    content: var(--before-svg);
}

.card--price
{
    color: var(--card-price);

    font-weight: 700;

    --before-svg: url(./images/icon-ethereum.svg);
}

.card--date
{
    color: var(--card-date);

    --before-svg: url(./images/icon-clock.svg);
}


.card__separator
{
    width: 100%;
    height: 2px;

    margin-top: var(--spacing-100);

    border: 0;

    background: var(--card-line);

}


.card__author
{
    width: 100%;
}

.card__figure
{
    display: flex;

    align-items: center;
    justify-content: start;

    gap: var(--spacing-200);
}

.card__avatar
{
    width: 2rem;
    height: auto;

    aspect-ratio: 1/1;

    border: 1px solid var(--card-bold);
    border-radius: 50%;
}

.card__credits
{
    color: var(--card-date);
}

.card__person
{
    font-weight: 500;
    color: var(--card-bold);
}

.card--text--hover
{
    transition: color 0.1s;
}

.card--text--hover:hover
{
    cursor: pointer;
    color: var(--card-price);
}